packages/
tools/packages/
bin/
obj/
/*.Sample/wwwroot/Scripts
/*.Sample/node_modules
build/
*.suo
*.user
.temp/
.fake/
.vscode/
paket-files/
nuget/*.paket.template
msbuild/CodeMirrorDir.targets
.vs
*/websharper.log
